<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>行程</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../css/order.css"/>
    <script src="../script/template-web.js"></script>
    <style>
    html,body{
      background-color:rgb(235, 235, 235);
    }
    .carinfo .logo{
      width: 60px;
    }
    .from-to{
      margin: 20px 0;
    }
    .from-to .middle{
      width: auto;
      height: 23px;
      padding-bottom: 13px;
      background-image: url("../image/travel.png");
      background-repeat: no-repeat;
      background-size: 30px 23px;
      background-position: top center;
    }
    .from-to .addr{
      font-size:20px;
      line-height: 20px;
    }

    .wrap-row .tag{
      text-align: left;
    }

    .wrap-row .text{
      text-align: right;
      color: grey;
    }

    .call{
      -webkit-box-flex: 4;
      -webkit-flex: 4;
      flex: 4;
    }

    .call-text{
      width: 100%;
      text-align: right;
      color: blue;
    }

    .call-icon{
      background-image: url("../image/tel.png");
      background-position: top right;
      background-repeat: no-repeat;
      background-size: 20px 20px;
    }
    </style>
</head>
<body>
    <div id="content"></div>

    <script id="order-template" type="text/html">
      {{if noneorder}}
      <div class="noneorder">
        <div class="icon-no"></div>
        <div class="text">暂无相关订单</div>
      </div>
      {{else}}
        {{each list}}
          {{if $value.carNum}}
            <li id="{{$value.orderId}}">
              <div class="order wrap-col">
                <div class="carinfo wrap-row item">
                  <div class="logo"></div>
                  <span class="carname">{{$value.carNum}}</span>
                  <span class="check" tapmode onclick="fnOpenMyOrderWin()">查看订单&gt;</span>
                </div>
                <div class="from-to wrap-row item">
                  <div class="item">
                    <div class="addr">{{$value.source}}</div>
                  </div>
                  <div class="middle item"></div>
                  <div class="item">
                    <div class="addr">{{$value.destination}}</div>
                  </div>
                </div>


                <div class="item wrap-row">
                  <span class="tag item">预约司机:</span>
                  <div class="call wrap-row" tapmode onclick="fnCallDriver('{{$value.dnum}}');">
                    <span class="call-icon item"></span>
                    <span class="call-text item">
                       联系司机&nbsp;&nbsp;|&nbsp;&nbsp;{{$value.driverName}}
                    </span>
                  </div>
                </div>
                {{if $value.userCount === 0}}
                <div class="item wrap-row">
                  <span class="tag item">订单类型:</span>
                  <span class="text item">寄件</span>
                </div>
                {{else}}
                <div class="item wrap-row">
                  <span class="tag item">乘客人数:</span>
                  <span class="text item">{{$value.userCount}}人</span>
                </div>
                {{/if}}
                <div class="item wrap-row">
                  <span class="tag item">联系电话:</span>
                  <span class="text item">{{$value.userPhone}}</span>
                </div>
                {{if $value.detailAddress}}
                <div class="item wrap-row">
                  <span class="tag item">上车地点:</span>
                  <span class="text item">{{$value.detailAddress}}</span>
                </div>
                {{/if}}
                {{if $value.detailDestination}}
                <div class="item wrap-row">
                  <span class="tag item">下车地点:</span>
                  <span class="text item">{{$value.detailDestination}}</span>
                </div>
                {{/if}}
                {{if $value.remark}}
                <div class="item wrap-row">
                  <span class="tag item">订单备注:</span>
                  <span class="text item">{{$value.remark}}</span>
                </div>
                {{/if}}
                <div class="item wrap-row">
                  <span class="tag item">预约时间:</span>
                  <span class="text item">{{$value.time}}</span>
                </div>
                <div class="item wrap-row">
                  <span class="tag item">下单时间:</span>
                  <span class="text item">{{$value.createTime}}</span>
                </div>

              </div>
            </li>
          {{else}}
            <li id="{{$value.orderId}}">
              <div class="order wrap-col">
                <div class="carinfo wrap-row item">
                  <div class="logo"></div>
                  <span class="mark">订单正在处理......</span>
                  <span class="check" tapmode onclick="fnOpenMyOrderWin()">查看订单&gt;</span>
                </div>
                <div class="from-to wrap-row item">
                  <div class="item">
                    <div class="addr">{{$value.source}}</div>
                  </div>
                  <div class="middle item"></div>
                  <div class="item">
                    <div class="addr">{{$value.destination}}</div>
                  </div>
                </div>
                {{if $value.userCount === 0}}
                <div class="item wrap-row">
                  <span class="tag item">订单类型:</span>
                  <span class="text item">寄件</span>
                </div>
                {{else}}
                <div class="item wrap-row">
                  <span class="tag item">乘客人数:</span>
                  <span class="text item">{{$value.userCount}}人</span>
                </div>
                {{/if}}
                  <div class="item wrap-row">
                    <span class="tag item">联系电话:</span>
                    <span class="text item">{{$value.userPhone}}</span>
                  </div>
                  {{if $value.detailAddress}}
                  <div class="item wrap-row">
                    <span class="tag item">详细地址:</span>
                    <span class="text item">{{$value.detailAddress}}</span>
                  </div>
                  {{/if}}
                  {{if $value.remark}}
                  <div class="item wrap-row">
                    <span class="tag item">订单备注:</span>
                    <span class="text item">{{$value.remark}}</span>
                  </div>
                  {{/if}}
                  <div class="item wrap-row">
                    <span class="tag item">预约时间:</span>
                    <span class="text item">{{$value.time}}</span>
                  </div>
                  <div class="item wrap-row">
                    <span class="tag item">下单时间:</span>
                    <span class="text item">{{$value.createTime}}</span>
                  </div>
              </div>
            </li>
          {{/if}}
        {{/each}}
      {{/if}}
    </script>
    <script type="text/javascript" src="../script/api.js"></script>
    <script type="text/javascript" src="../script/common.js"></script>
    <script>

    apiready=function(){
      fnGetOrder();
      fnPullRefresh();
    };

    var userInfo=$api.getStorage("userInfo");
    var data={noneorder:true};

    function fnGetOrder(){

      api.ajax({
          url: 'http://'+url+':'+port+'/user/orders/travel'+"?userId="+userInfo.userId,
          method: 'get',
          headers: {
                'Content-Type': 'application/json;charset=utf-8'
            }
      }, function(ret, err) {
        if(ret){
          console.log(JSON.stringify(ret));
          if(ret.code==0&&ret.data.length!=0){
            data = {
               noneorder:false,
               list:ret.data
             };
          }else{
            data={noneorder:true};
          }
          var html = template('order-template', data); //data为模板数据
          document.getElementById('content').innerHTML = html; //将生成的模板填充添加到对应的容器中
        }else{
         console.log(JSON.stringify(err));
        }
         });
    }
    function fnPullRefresh(){
        api.setCustomRefreshHeaderInfo({
            bgColor : '#f0f0f0',
        }, function() {
          fnGetOrder();
          setTimeout(function(){
            api.refreshHeaderLoadDone();
          },500);
        });
    }
    function fnOpenMyOrderWin() {
        api.openWin({
            name: 'myorder',
            url: './myorder.html'
        });
    }
    </script>
</body>
</html>
