@charset "utf-8";

.content {
	padding: 10px;
}

.content p {
	text-indent: 2em;
	margin: 10px 0;
	line-height: 28px;
	word-wrap: break-word;
}
#intro {
	display: none;
}

.binfo {
	padding: 10px;
	overflow: hidden;
}

.binfo img {
	float: left;
	border: 1px solid #bbb;
	padding: 2px;
	width: 113px;
	height: 150px;
}

.binfo div {
	overflow: hidden;
	margin-bottom: 5px;
	text-indent: 10px;
}
