 <widget id="A6096149079402"  version="0.0.1">
    <name>LC</name>
    <description>
        LC
    </description>
    <author email="446110075@qq.com" href="https://github.com/PFZTJLLYTC">
        PFZTJLLYTC
    </author>
    <content src="./html/login.html" />    <!-- <content src="./index.html" /> -->
    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="false"/>
	<preference name="vScrollBarEnabled" value="false"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="true"/>//调试模式，开发者使用
  <preference name="customRefreshHeader" value="UIPullRefresh"/>//下拉刷新模块
	<preference name="statusBarAppearance" value="true"/>
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />  <feature name="QQPlus">                        //qq开放平台      <param name="urlScheme" value="tencent101064640" />      <param name="apiKey" value="101064640" />   </feature>   //百度地图   <feature name="bMap">     <param name="android_api_key" value="WT88cDiVBiZK2ZfgWa4OgFY1dp4wnV5X"/>     <!-- <param name="ios_api_key" value="自己申请"/> --> </feature>  <!-- For Android --><meta-data name="Mob-AppKey" value="2aaa44ae9bf7e"/><meta-data name="Mob-AppSecret" value="4da0aaef83af6827fe1303350f1a5221"/>


</widget>