<?xml version="1.0" encoding="UTF-8">
<widget id="A6096132783026"  version="0.0.1">
    <name>LC</name>
    <description>
        an app.
    </description>
    <author email="446110075@qq.com" href="http://baidu.com">
        PFZTJLLYTC
    </author>
    <content src="./index.html"/>
    <access origin="*" />
    <preference name="windowBackground" value="#FFF" />
    <permission name="call" />
    <feature name="weiXin">
        <param name="urlScheme" value="wx7779c7c063a9d4d9" />
    </feature>
</widget>
